   {% for obj in chat %}
                {% if obj.user == request.user %}
                    {% if obj.isFile == False %}
                        <li class="text-right list-group-item">
                            <a href="{{ obj.message }}">{{ obj.message }}</a>
                        </li>
                    {% else %}
                        <li class="text-right list-group-item">{{ obj.message }}</li>
                    {% endif %}
                {% else %}
                    <li class="text-left list-group-item">{{ obj.message }}</li>
                {% endif %}
                    {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
            {% endfor %}